html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Montserrat';
  color: #3871a7;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #ffffff;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  border: 1px solid red;
}

.nav {
  margin-top: 64px;
  margin-right: 32px;
}

a {
  text-decoration: none;
  color: #3871a7;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}

.main {
  border: 1px solid red;
}

.summary {
  display: flex;
  margin: 0 64px;
}

.name {
  font-size: 72px;
  font-weight: 700;
}

.story {
  width: 80%;
  color: #57565a;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.background {
  width: 384px;
  height: 512px;
  border: 2px solid #3871a7;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.background img {
  position: relative;
  left: -24px;
}

.footer {
  border: 1px solid red;
}

@media only screen and (max-width: 425px) {
  .nav {
    margin-top: 16px;
    margin-right: 8px;
  }

  .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
  }
}
